:root{
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #ffffff00;
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;
    --tech-bg-color: #d3d3d3;
}

[data-theme="light"] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
    --tech-bg-color: #323232;
    
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1,h2,h3,p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,h3,p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2{
    text-transform: uppercase;
}

h2,h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle{
    margin-bottom: 30px;
}

.hover{
    cursor: pointer;
}

.projectBox{
    min-width: 270px;
    min-height: 300px;
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 20px -2px #000000; 
    box-shadow: 0px 0px 20px -2px #000000;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

    img{
        width: 250px;
        height: 150px;
        object-fit: cover;
        padding: 5px;
        border-radius: 20px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 15px 25px -16px #000000; 
        box-shadow: 0px 15px 25px -16px #000000;
    }
}

.projectBox:hover{
    transform: scale(1.05);
}

.projectBox:active{
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.techStackList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;

    p{
        font-size: 12px;
        font-weight: 400;
        padding: 5px;
        border-radius: 20px;
        background-color: var(--tech-bg-color);
        width: fit-content;
        color: var(--text-color);
    }
}

.techBox{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 5px;
}

button{
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.projectLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100px;
    height: 100px;
    flex-direction: row;
    gap: 10px;
}

@media (width >= 480px){
    .projectBox{
        min-width: 350px;
        min-height: 250px;
        border-radius: 20px;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 20px -2px #000000; 
        box-shadow: 0px 0px 20px -2px #000000;

        img{
            width: 300px;
            height: 150px;
            object-fit: cover;
            padding: 5px;
            border-radius: 20px;
        }
    }

    .projectLinks{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 100px;
        height: 100px;
        flex-direction: row;
        gap: 20px;
    }

    button{
        font-size: 16px;
        padding: 15px;
    }
}

@media (width >= 800px){
    #root{
        gap: 100px;
    }
    h1{
        font-size: 40px;
    }
    h2,h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }

    .sectionTitle{
        margin-bottom: 60px;
    }

    .projectBox{
        min-width: 400px;
        min-height: 350px;
        border-radius: 20px;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 20px -2px #000000; 
        box-shadow: 0px 0px 20px -2px #000000;

        img{
            width: 360px;
            height: 150px;
            object-fit: cover;
            padding: 5px;
            border-radius: 20px;
        }
    }

    .projectLinks{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 100px;
        height: 100px;
        flex-direction: row;
        gap: 20px;
    }

    button{
        font-size: 16px;
        padding: 15px;
    }
}

@media (width >= 1400px){
    #root{
        gap: 200px;
    }
    h1{
        font-size: 48px;
    }
    .sectionTitle{
        margin-bottom: 75px;
    }
}